.loginPopup {
  display: none;
  min-width: 300px;
  min-height: 100vh;
  z-index: 200;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);

  &__wrapper {
    min-width: 300px;
    max-width: 442px;
    min-height: auto;
    background-color: $basicgray2;
    padding-bottom: 60px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 200;

    p {
      font-family: "CormorantGaramond";
      font-size: 3.4rem;
      font-weight: 700;
      color: $basicgray3;
      text-align: center;
      margin-top: 10px;
    }

    form {
      display: grid;
      gap: 20px;

      input {
        min-height: 30px;
        background: none;
        border: 1px solid transparent;
        border-bottom: 1px solid $basicgray3;
        font-family: "Poppins";
        font-size: 1.4rem;
        color: $basicgray1;
        font-weight: 500;

        &:focus {
          border: 1px solid $black;
          outline: 1px solid transparent;
        }
      }

      input.error {
        border: 1px solid $red;
      }

      input.success {
        border: 1px solid $green;
      }


      button {
        border: none;
        min-height: 68px;
        background-color: $basicbrown;
        font-family: "Poppins";
        font-size: 1.6rem;
        color: $white;
        font-weight: 500;
        margin-bottom: 20px;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          opacity: 0.6;
        }

        &:focus {
          border: 1px solid $black;
          outline: 1px solid transparent;
        }
      }
    }
  }

  &__header {
    min-height: min-content;
  }

  &__toggle {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
    border: 1px solid transparent;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $black;
      outline: 1px solid transparent;
    }

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 6px;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 6px;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: rotate(45deg);
    }

    &:hover {

      &::after,
      &::before {
        opacity: 0.6;
      }
    }

    &:active {

      &::after,
      &::before {
        opacity: 0.6;
      }
    }

    @media (max-width: $ds) {
      display: block;
    }
  }

  &__inner {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  &__inner-signUp {
    a {
      text-decoration: none;
    }

    span:first-of-type {
      font-family: "Poppins";
      font-size: 1.4rem;
      color: $basicgray1;
      font-weight: 500;
    }

    span:last-of-type {
      font-family: "Poppins";
      font-size: 1.4rem;
      color: $basicgray3;
      font-weight: 500;
    }
  }
}

.loginPopup.show {
  display: block;
}

.password-wrapper {
  display: grid;
  margin-bottom: 50px;

  input {
    margin-bottom: 10px;
  }

  span {
    min-width: 100%;
    text-align: right;
  }

  a {
    min-width: max-content;
    font-family: "Poppins";
    font-size: 1.2rem;
    color: $basicgray1;
    font-weight: 500;
    text-decoration: none;
  }
}

.loginPopupPage {
  display: block;
  top: 100px;
}

.login-wrapper {
  position: relative;
  top: 0;
  z-index: 200;
  left: 50%;
  transform: translate(-50%,0);
  max-width: 430px;

}

.login {
  position: relative;
  margin: 0 auto;
  top: 0;
}

.main-header-login {
  margin-bottom: 0;
}
