.login {
  display: block;

  @media (max-width: $ds) {
    display: none;
  }
}

.loginMenu {
  display: none;

  @media (max-width: $ds) {
    display: block;
  }

  a {
    border: 1px solid transparent;
    text-decoration: none;
    color: $basicgray3;
    font-family: "Poppins";
    font-size: 1.4rem;
    font-weight: 500;

    &:focus {
      outline: none;
      border: 1px solid $black;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      color: $black;
    }

    &:visited {
      opacity: 0.6;
    }
  }
}
