.main-menu.main-menu--nojs,
.main-menu {
  .main-header {
    &__header-up {
      border-bottom: 1px solid $basicgray;
    }

    &__header-up-inner {
      min-height: 115px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    form {
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type="search"] {
        border: 1px solid transparent;
        min-width: 170px;
        padding: 10px 5px 10px 10px;
      }

      label {
        padding: 5px;
      }

      input[type="search"],
      label {
        cursor: pointer;

        &:focus {
          outline: none;
          border: 1px solid $black;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          color: $black;
        }
      }

    }

    &__wrapper {
      background-color: $basicbrown;
      min-height: 262px;
      background-image: image-set('../img/content/header-background/indexHeader-ds.jpg' 1x, '../img/content/header-background/indexHeader-ds@2x.jpg' 2x);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main-nav {
    &__wrapper {
      display: flex;
      justify-content: center;
      min-height: 62px;
    }

    &__toggle {
      display: none;
    }

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__item {
      margin-left: 34px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      text-decoration: none;
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
      border: 1px solid transparent;

      &:focus {
        outline: none;
        border: 1px solid $black;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        color: $black;
      }

      &:visited {
        opacity: 0.6;
      }
    }
  }

}

.main-menu--closed.main-menu {
  &__toggle {
    left: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
    border: 1px solid transparent;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $black;
      outline: 1px solid transparent;
    }

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 13px;
      width: 24px;
      height: 2px;
      background-color: $black;
      box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
    }

    &:active::before {
      background-color: rgb(0, 0, 0);
      box-shadow: 0 8px 0 0 rgb(0, 0, 0),
        0 16px 0 0 rgb(0, 0, 0);
    }

    @media (max-width: $ds) {
      display: block;
    }
  }
}


.main-menu--closed.main-menu {

  .main-header {

    &__content-wrapper {
      margin-bottom: -1px;

      @media (max-width: $ds) {
        padding-bottom: 11px;
      }
    }

    &__header-up {
      border-bottom: 1px solid $basicgray;

      @media (max-width: $ds) {
        border-bottom: none;
      }
    }

    &__header-up-inner {
      min-height: 115px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    form {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: -6px;

      @media (max-width: $ds) {
        display: none;
      }

      input[type="search"] {
        border: 1px solid transparent;
        min-width: 170px;
        padding: 10px 5px 10px 7px;
      }

      label {
        padding: 5px;
      }

      input[type="search"],
      label {
        cursor: pointer;

        &:focus {
          outline: none;
          border: 1px solid $black;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          color: $black;
        }
      }

    }

    &__wrapper {
      background-color: $basicbrown;
      min-height: 461px;
      background-image: image-set('../img/content/header-background/indexHeader-ds.jpg' 1x, '../img/content/header-background/indexHeader-ds@2x.jpg' 2x);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main-nav {
    display: block;

    @media (max-width: $ds) {
      display: none;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      min-height: 62px;
    }

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      flex-wrap: wrap;
      margin-left: 10px;
    }

    &__item {
      margin-left: 34px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      text-decoration: none;
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
      border: 1px solid transparent;

      &:focus {
        outline: none;
        border: 1px solid $black;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        color: $black;
      }

      &:visited {
        opacity: 0.6;
      }
    }
  }

  .authorization {
    min-width: 20px;
    height: 20px;
    flex-basis: 25%;
    justify-content: flex-end;
    margin-bottom: 6px;

    @media (max-width: $ds) {
      margin-bottom: -11px;
      margin-right: 32px;
    }

    div {
      margin-left: 35px;

      &:first-of-type {
        margin-left: 0;
      }
    }

   .cart__link {
     display: flex;
   }
  }

  .logo {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    margin-top: 5px;

    @media (max-width: $ds) {
      margin-left: 17%;
    }

    svg {
      fill: $basicbrown;
    }
  }

  .main-menu__faq-list {
    display: none;
  }

  .cart {

    @media (max-width: $ds) {
      margin-right: -4px;
    }

    svg {
      stroke: $black;
      fill: transparent;
    }
  }
}

.main-menu--opened.main-menu {

  .main-header {

    &__content-wrapper {
      width: 100vw;
      min-height: 100vh;
      background-color: $basicbrown;
      overflow-y: scroll;
      position: relative;
    }

    &__inner {
      min-height: inherit;
      min-width: 100%;
      padding-bottom: 50px;
      background-color: $basicbrown;
      position: absolute;
    }

    &__header-up {
      border-bottom: 1px solid $basicgray;

      @media (max-width: $ds) {
        border-bottom: none;
      }
    }

    &__header-up-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      min-height: 199px;

      @media (max-width: $ds) {
        border-bottom: none;
        margin-bottom: 4px;
      }
    }

    form {
      display: flex;
      align-items: center;
      cursor: pointer;
      order: 2;
      min-width: 93%;
      margin: 0 auto;
      position: relative;

      input[type="search"] {
        border: 1px solid transparent;
        min-width: 100%;
        padding: 10px 5px 16px 30px;
        border-radius: 50px;
        background-color: $basicbrown1;
      }

      input[type="search"]::placeholder {
        color: $basicbrown1;
      }

      label {
        padding: 5px;
        position: absolute;
        left: 7px;
        top: 5px;

        svg {
          fill: $white;
          width: 16px;
          height: 16px;
        }
      }

      input[type="search"],
      label {
        cursor: pointer;

        &:focus {
          outline: none;
          border: 1px solid $black;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          color: $black;
        }
      }

    }

    &__wrapper {
      background-color: $basicbrown;
      min-height: 262px;
      background-image: image-set('../img/content/header-background/indexHeader-ds.jpg' 1x, '../img/content/header-background/indexHeader-ds@2x.jpg' 2x);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main-nav {

    &__wrapper {
      display: flex;
      justify-content: center;
      min-height: 62px;

      @media (max-width: $ds) {
        justify-content: left;
      }
    }

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: $ds) {
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        line-height: 2.37;
      }
    }

    &__item {
      margin-left: 0;
    }

    &__link {
      text-decoration: none;
      font-family: "Poppins";
      font-size: 2.4rem;
      font-weight: 500;
      color: $white;
      border: 1px solid transparent;

      &:focus {
        outline: none;
        border: 1px solid $black;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        color: $black;
      }

      &:visited {
        opacity: 0.6;
      }
    }
  }

  .authorization {
    min-width: 20px;
    height: 20px;
    flex-basis: 5%;
    justify-content: flex-end;
    margin-bottom: 6px;

    @media (max-width: $ds) {
      margin-bottom: -11px;
      margin-right: 24px;
    }

    a {
      display: flex;
    }
  }

  .logo {
    flex-basis: 80%;
    justify-content: center;
    display: flex;
    margin-top: 5px;

    @media (max-width: $ds) {
      margin-left: 9%;
    }

    svg {
      fill: $white;
    }
  }

  .main-menu__faq-list {
    display: none;

    @media (max-width: $ds) {
      display: block;
      list-style-type: none;
      padding: 0;
      line-height: 2.37;
      margin-bottom: 32px;
    }
  }

  .main-menu__faq-item {

    a {
      text-decoration: none;
      font-family: "Poppins";
      font-size: 1.8rem;
      font-weight: 500;
      color: $basicgray4;
      border: 1px solid transparent;

      &:focus {
        outline: none;
        border: 1px solid $black;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        color: $black;
      }

      &:visited {
        opacity: 0.6;
      }
    }
  }

  .loginMenu {
    display: none;

    @media (max-width: $ds) {
      display: block;
    }

    a {
      color: $white;
      font-size: 1.8rem;
    }
  }

  .cart {
    svg {
      stroke: $white;
      fill: transparent;
    }
  }

  .main-menu__toggle {
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 13px;
      width: 24px;
      height: 2px;
      background-color: $white;
      box-shadow: 0 8px 0 0 $white, 0 15px 0 0 $white;
    }

    &:active::before {
      background-color: rgb(255, 254, 254);
      box-shadow: 0 8px 0 0 rgb(255, 255, 255),
        0 16px 0 0 rgb(255, 255, 255);
    }

  }

  .main-menu__list {
    padding-left: 44px;
    line-height: 1.7;
  }
}

.main-menu--nojs.main-menu--closed.main-menu {

  .main-menu__toggle {
    left: 32px;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
    border: 1px solid transparent;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $black;
      outline: 1px solid transparent;
    }

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 13px;
      width: 24px;
      height: 2px;
      background-color: $black;
      box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
    }

    &:active::before {
      background-color: rgb(0, 0, 0);
      box-shadow: 0 8px 0 0 rgb(0, 0, 0),
        0 16px 0 0 rgb(0, 0, 0);
    }

    @media (max-width: $ds) {
      display: none;
    }
  }

  .main-header {

    &__header-up {
      @media (max-width: $ds) {
        border-bottom: 1px solid $basicgray;
      }

      @media (max-width: $tb) {
        padding-bottom: 20px;
      }
    }

    &__header-up-inner {
      flex-wrap: wrap;

      @media (max-width: $tb) {
        display: grid;
        justify-content: center;
        padding-bottom: 20px;
      }
    }

    form {
      position: relative;

      @media (max-width: $tb) {
        order: 1;
      }

      @media (max-width: $ds) {
        display: block;
      }

      input[type="search"] {
        margin-left: 23px;
      }

      label {
        position: absolute;
        top: 3px;
      }
    }
  }

  .cart {
    span {
      @media (max-width: $ds) {
        display: block;
      }
    }

    svg {
      @media (max-width: $ds) {
        display: none;
      }
    }
  }

  .login {
    @media (max-width: $ds) {
      display: block;
    }
  }

  .main-nav {
    @media (max-width: $ds) {
      display: block;
    }

    &__list {
      @media (max-width: $tb) {
        justify-content: center;
      }
    }

    &__item {
      @media (max-width: $tb) {
        margin-left: 10px;
      }
    }
  }

  .authorization {
    margin-left: 70px;
    min-height: 20px;
    max-width: 17%;
    flex-wrap: wrap;

    @media (max-width: $tb) {
      order: 1;
    }
  }

  .logo {
    margin-left: 3%;
    flex-basis: 30%;

    @media (max-width: $tb) {
      flex-basis: 100%;
      margin: 0 auto;
      margin-bottom: 5px;
    }
  }
}
