.swiper-main {
  min-width: 270px;
  max-width: 1000px;
  min-height: 635px;
  display: flex;
  position: relative;
  align-self: end;
  top: -85px;
  z-index: 0;

  @media (min-width: 1360px) {
    max-width: 1170px;
  }

  @media (max-width: $ds) {
    max-width: 685px;
  }

  @media (max-width: $tb) {
    max-width: 290px;
    top: -95px;
  }

  &__wrapper {
    max-width: 1170px;
    min-width: inherit;
    display: flex;
    align-self: self-end;
    top: -116px;

    @media (max-width: $ds) {
      top: -66px;
      left: -3px;
    }

    @media (max-width: $tb) {
      top: -195px;
      left: 0;
    }
  }

  &__slide {
    min-width: 220px;
    margin: 0 auto;
    min-height: 300px;
    max-width: 270px;

    @media (max-width: $ds) {
      max-width: 324px;
    }

    @media (max-width: $tb) {
      min-width: 130px;
    }

    .catalog__products-item {
      max-width: 270px;

      p {
        margin-bottom: 11px;

        @media (max-width: $tb) {
          margin-bottom: 9px;
        }
      }
    }
  }
}

.swiper-main__button-prev.swiper-button-prev,
.swiper-main__button-next.swiper-button-next {
  top: 8%;

  @media (max-width: $ds) {
    z-index: 20;
  }

  @media (max-width: $tb) {
    display: none;
  }
}

.swiper-main__button-prev.swiper-button-prev {
  left: 0;

  @media (max-width: $ds) {
    width: 40px;
  }
}

.swiper-main__button-next.swiper-button-next {
  right: 0;

  @media (max-width: $ds) {
    width: 40px;
  }
}

.swiper-main__button-prev.swiper-button-prev::after {
  content: '';
  display: block;
  width: 30px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url('../img/icons/arrow-prevSlider.svg');

  @media (max-width: $ds) {
    background-image: url('../img/icons/arrow-prevSlider-tb.svg');
    width: 40px;
  }
}

.swiper-main__button-next.swiper-button-next::after {
  content: '';
  display: block;
  width: 30px;
  height: 15px;
  margin-left: -2px;
  background-repeat: no-repeat;
  background-image: url('../img/icons/arrow-nextSlider.svg');

  @media (max-width: $ds) {
    background-image: url('../img/icons/arrow-nextSlider-tb.svg');
    width: 40px;
  }
}

.swiper-main__pagination .swiper-pagination-bullet {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  color: $basicgray3;
  width: 12px;
  height: 20px;
  background: transparent;

  @media (max-width: $ds) {
    width: 14px;
  }
}

.swiper-main__pagination.swiper-pagination-bullets {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  color: $basicgray3;
  width: 100%;
  height: 20px;
  background: transparent;

  @media (max-width: $ds) {
    width: 100%;
  }

  @media (max-width: $tb) {
    font-size: 2rem;
    width: 100%;
  }
}

.swiper-main__pagination.swiper-pagination-fraction {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  color: $basicgray3;
}

.swiper-main__pagination.swiper-pagination {
  bottom: 62px;

  @media (max-width: $ds) {
    bottom: 23px;
  }

  @media (max-width: $tb) {
    bottom: 226px;
  }
}

.swiper-main__slide .swiper-slide {
  width: min-content;
  flex-shrink: unset;
  max-width: 270px;

  img {
    background-size: contain;
    object-fit: contain;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.swiper-main__slide .catalog__products-item img {
  @media (max-width: $ds) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $tb) {
    width: 100%;
    height: calc(100% + 30px);
    object-fit: contain;
  }

  @media (min-width: 450px) {
    min-width: 100%;
  }
}

.swiper-main__slide .catalog__products-item {
  @media (max-width: $ds) {
    min-width: 337px;
  }

  @media (max-width: $tb) {
    min-width: 130px;
    max-width: 130px;
  }
}
