//breakpoints
$sm: 320px;
$tb: 767px;
$ds: 1023px;

// colors
$black: black;
$white: white;
$red: red;
$green: green;

$basicgray: #F6F5F4;
$basicgray1: #9B9997;
$basicgray2: #F0EAE4;
$basicgray3: #1D1613;
$basicgray4: #E9DED8;
$basicgray5: rgba(29, 22, 19, 0.8);

$basicbrown: #A87B62;
$basicbrown1: #B58F79;
