//breakpoints
$sm: 320px;
$tb: 767px;
$ds: 1023px;
$hd: 1920px;

// colors
$black: black;
$white: white;
$red: red;
$green: green;
$bodybg: white;

$basicdecor: #0ad9c6;

$basicGray1: #48494d;
$basicGray2: #1c1c1c;
$basicGray3: #808080;
$basicGray4: #4c4c4c;
$basicGray5: #1f1f1f;
$basicGray6: #4d4d4d;
$basicGray7: #f6f6f6;
$basicGray8: #c9ccd4;
$basicGray9: #131314;
$basicLightGray: #f6f7f9;
