.blog {
  min-height: 769px;
  margin-bottom: 120px;

  &__heading {
    margin-bottom: 66px;
    min-width: 100%;
    text-align: center;


    h2 {
      font-family: "CormorantGaramond";
      font-size: 3.4rem;
      font-weight: 700;
      color: $basicgray3;
      margin-bottom: 23px;
    }

    a {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid transparent;
      border-bottom: 1px solid $basicbrown;


      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.8;
      }

      &:focus {
        outline: 1px solid transparent;
        border: 1px solid $black;
      }

      &:visited {
        opacity: 0.6;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width: $ds) {
      grid-template-columns: 1fr;
    }
  }

  &__gallery-bigBlock {
    min-width: 100%;
    position: relative;
    min-height: inherit;
  }

  &__gallery-block {
    display: flex;
    margin-bottom: 29px;
    flex-wrap: wrap;

    @media (max-width: $tb) {
      flex-direction: inherit;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__gallery-item {
    background: $basicgray2;
    min-width: 230px;
    max-width: 285px;
    min-height: 200px;
    max-height: 300px;
    flex-basis: 50%;

    @media (max-width: $ds) {
      max-height: min-content;
      max-width: inherit;
    }

    @media (max-width: $tb) {
      min-width: 100%;
      flex-basis: 100%;
    }

    time {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray1;
    }

    h3 {
      font-family: "CormorantGaramond";
      font-size: 2.6rem;
      font-weight: 600;
      color: $black;
      margin-top: 13px;
      line-height: 1.2;
      margin-bottom: 41px;
    }

    a {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
      cursor: pointer;
      text-decoration: none;
      padding-bottom: 3px;
      max-width: max-content;
      border: 1px solid transparent;
      border-bottom: 1px solid $basicbrown;


      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.8;
      }

      &:focus {
        outline: 1px solid transparent;
        border: 1px solid $black;
      }

      &:visited {
        opacity: 0.6;
      }
    }

    img {
      @media (max-width: $ds) {
        min-width: 100%;
        object-fit: cover;
      }
    }
  }

  &__gallery-itemBigBlock {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (min-width: $ds) {
      min-width: 287px;
      min-height: 303px;
    }

    @media (max-width: $ds) {
      max-width: 50%;
      min-width: 50%;
      min-height: 100%;
    }

    @media (max-width: $tb) {
      position: relative;
      min-width: 100%;
      max-width: 100%;
    }
  }

  &__gallery-item-bigBlock {
    flex-basis: 100%;
    max-width: 100%;
    max-height: 100%;

    @media (max-width: $ds) {
      max-width: 50%;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__item-wrapper {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 66px;
    padding-bottom: 20px;

    @media (min-width: 1170px) {
      margin-top: 66px;
      padding-bottom: 50px;
    }

    @media (max-width: $ds) {
      margin-top: 71px;
      padding-bottom: 50px;
    }
  }

  &__block-1 {
    @media (min-width: 1170px) {
      margin-top: 71px;

      h3 {
        line-height: 1.3;
        margin-bottom: 40px;
      }
    }
  }

  &__block-2 {
    @media (min-width: 1170px) {

      h3 {
        margin-top: 18px;
        line-height: 1.2;
        margin-bottom: 42px;
      }
    }
  }



  &__gallerylast {
    min-height: 100%;
  }

  &__gallery-block2 {
    flex-direction: row-reverse;

    @media (max-width: $ds) {
      flex-direction: row-reverse;
    }

    @media (max-width: $tb) {
      flex-direction: row;
    }
  }
}
