.main-header {
  margin-bottom: 95px;

  &__main-text {
    font-family: "CormorantGaramond";
    color: $white;
    line-height: 0.4;
    margin-top: -28px;

    @media (max-width: $ds) {
      padding: 8px;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 700;
      letter-spacing: 1.4px;
      line-height: 1;
      margin-bottom: 8px;

      @media (max-width: $tb) {
        font-size: 3.4rem;
      }
    }

    span {
      font-family: "CormorantGaramond-MediumItalic";
      font-size: 3.8rem;
      font-weight: 500;
      line-height: 1;

      @media (max-width: $tb) {
        font-size: 2.2rem;
      }
    }

  }

  &__main-text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $ds) {
      padding-right: 19px;
    }
  }
}
