.questionsMain {
  margin-bottom: 110px;

  &__wrapper {
    min-width: 100%;
    text-align: center;

    h2 {
      font-family: "CormorantGaramond";
      font-size: 3.4rem;
      font-weight: 700;
      color: $basicgray3;
      letter-spacing: 1px;
      margin-bottom: 50px;
    }
  }

  &__content {
    min-height: 515px;
    border: 1px solid $basicbrown;
    max-width: 970px;
    margin: 0 auto;
  }

  &__content-item {
    text-align: left;
    padding: 26px 44px;
    border-bottom: 1px solid $basicbrown;
    position: relative;
    cursor: pointer;

    @media (max-width: $tb) {
      padding: 50px 10px;
    }

    .btnMore {
      position: absolute;
      top: 75px;
      right: 30px;
    }

    button {
      position: absolute;
      right: 70px;
      top: 105px;

      @media (max-width: $tb) {
        right: 19px;
        top: 73px;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    h3 {
      font-family: "Poppins";
      font-size: 1.8rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__content-item-wrapper {
    max-width: 60%;

    @media (max-width: $tb) {
      max-width: 100%;
    }
  }

  &__content-more {
    max-width: 76%;
    display: none;

    @media (max-width: $tb) {
      max-width: 100%;
    }

    p {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 400;
      color: $basicgray3;
    }
  }
}

.questionsMain__content-more.show-text-more {
  display: block;
}

.questionsMain__content-more.questionsMain__content-more--nojs {
  display: block;
}

.btnMore {
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    svg {
      opacity: 0.6;
    }
  }

  svg {
    fill: $white;
    width: 18px;
    height: 23px;
  }

  svg:first-of-type {
    display: block;
  }

  svg:last-of-type {
    display: none;
  }
}

.btnMore.showmore {
  svg:first-of-type {
    display: none;
  }

  svg:last-of-type {
    display: block;
  }
}

