.filterCatalog {
  max-width: 300px;
  min-width: 250px;

  @media (max-width: $ds) {
    position: absolute;
    background-color: $white;
    padding: 10px;
  }

  button[type="submit"] {
    min-height: 68px;
    background-color: $basicbrown;
    border: 1px solid transparent;
    color: $white;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $black;
    }
  }

  button[type="button"] {
    min-height: 68px;
    border: 1px solid $basicbrown;
    background: transparent;
    color: $basicgray3;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $black;
    }
  }

  &__heading {
    padding: 20px;

    h3 {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__wrapper {
    display: grid;
    border: 1px solid $basicbrown;
    margin-bottom: 30px;

    button[type="button"] {
      min-height: 68px;
      border: 1px solid $basicbrown;
      background: transparent;
      color: $basicgray3;
      cursor: pointer;
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;

      &:hover {
        opacity: 0.6;
      }

      &:focus {
        border: 1px solid $black;
      }
    }
  }

  &__products {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__material {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__collection {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__price {
    cursor: pointer;
  }

  &__price-range {
    position: relative;
    min-height: 40px;
    max-width: 300px;
    margin-bottom: 23px;
  }

  &__price-range-leftWrapper {
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: center;
    left: 35px;
    z-index: 3;
    cursor: pointer;
    min-width: 40px;

    label {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__price-range-rightWrapper {
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: center;
    right: 35px;
    z-index: 3;
    cursor: pointer;
    min-width: 40px;

    label {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__price-range-left {
    width: 15px;
    height: 15px;
    background-color: $basicbrown;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &__price-range-right {
    width: 15px;
    height: 15px;
    background-color: $basicbrown;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &__price-limit {
    height: 1px;
    min-width: 100%;
    position: absolute;
    top: 10px;
    background-color: $basicgray2;
    z-index: 1;
  }

  &__price-active-limit {
    height: 1px;
    min-width: 197px;
    position: absolute;
    left: 42px;
    top: 0px;
    background-color: $basicbrown;
    z-index: 2;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    h3 {
      margin: 0;
      margin-bottom: 10px;
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      width: 20px;
      height: 15px;

      &:hover {
        svg {
          opacity: 0.6;
        }
      }

      svg {
        fill: $white;
        width: 18px;
        height: 23px;
      }

      svg:first-of-type {
        display: block;
      }

      svg:last-of-type {
        display: none;
      }
    }

    button.showmore {
      svg:first-of-type {
        display: none;
      }

      svg:last-of-type {
        display: block;
      }
    }
  }

  &__products-items,
  &__material-items,
  &__collection-items,
  &__price-items {
    display: grid;
    gap: 10px;
  }

  &__products-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 10px;

    label {
      margin-left: 20px;
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__products-items {

    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }



    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__material-items {
    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }



    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__collection-items {
    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }

    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__buttons {
    display: grid;
  }
}

.filterCatalog__products-items-wrapper {
  display: none;
}

.filterCatalog__products-items-wrapper.show {
  display: block;
}

.filterCatalog__products-items-wrapper.filterCatalog__filter--nojs {
  display: block;
}

.filter-wrapper {
  display: block;

  @media (max-width: $ds) {
    display: none;
  }
}

.filter-wrapper.show {
  display: none;

  @media (max-width: $ds) {
    display: block;
    position: relative;
    min-width: 250px;
    margin: 0 auto;
  }
}

.filterShowButton {
  min-height: 68px;
  background-color: $basicbrown;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
  display: none;

  @media (max-width: $ds) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    border: 1px solid $black;
  }
}

.filterCloseButton {
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 23;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $basicgray3;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    opacity: 0.8;

    svg {
      opacity: 0.8;
    }
  }

  svg {
    fill: $white;
    width: 14px;
    height: 14px;
  }
}
