.filterCatalog {
  max-width: 300px;
  min-width: 250px;

  @media (max-width: $ds) {
    position: absolute;
    background-color: $white;
    padding-bottom: 40px;
    z-index: 222;
    max-width: 440px;
    min-width: 440px;
  }

  @media (max-width: $tb) {
    min-width: 270px;
  }

  button[type="submit"] {
    min-height: 68px;
    background-color: $basicbrown;
    border: 1px solid transparent;
    color: $white;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 28px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $black;
    }
  }

  button[type="button"] {
    min-height: 68px;
    border: 1px solid $basicbrown;
    background: transparent;
    color: $basicgray3;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $black;
    }
  }

  &__heading {
    padding-right: 7px;
    padding-top: 24px;
    padding-left: 25px;
    padding-bottom: 16px;

    @media (max-width: $ds) {
      padding: 20px 40px;
    }

    h3 {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__wrapper {
    display: grid;
    border: 1px solid $basicbrown;
    margin-bottom: 30px;
    margin-top: 6px;
    margin-left: 2px;

    @media (max-width: $ds) {
      border: none;
    }

    button[type="button"] {
      min-height: 68px;
      border: 1px solid $basicbrown;
      background: transparent;
      color: $basicgray3;
      cursor: pointer;
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;

      &:hover {
        opacity: 0.6;
      }

      &:focus {
        border: 1px solid $black;
      }
    }
  }

  &__products {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
    padding-bottom: 14px;

    @media (max-width: $ds) {
      padding-top: 67px;
    }

    @media (max-width: $tb) {
      padding-top: 20px;
    }
  }

  &__material {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__collection {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__price {
    cursor: pointer;
  }

  &__price-range {
    position: relative;
    min-height: 40px;
    max-width: 300px;
    margin-bottom: 23px;
    min-width: 100%;
    margin: 0 auto;

    @media (max-width: $ds) {
      min-width: 80%;
    }

    @media (max-width: $tb) {
      min-width: 80%;
    }
  }

  &__price-range-leftWrapper {
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: center;
    left: 57px;
    z-index: 3;
    cursor: pointer;
    min-width: 40px;

    label {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__price-range-rightWrapper {
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: center;
    right: 43px;
    z-index: 3;
    cursor: pointer;
    min-width: 40px;

    label {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__price-range-left {
    width: 15px;
    height: 15px;
    background-color: $basicbrown;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &__price-range-right {
    width: 15px;
    height: 15px;
    background-color: $basicbrown;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &__price-limit {
    height: 1px;
    min-width: 100%;
    position: absolute;
    top: 10px;
    background-color: $basicgray2;
    z-index: 1;
  }

  &__price-active-limit {
    height: 1px;
    min-width: 197px;
    position: absolute;
    left: 42px;
    top: 0px;
    background-color: $basicbrown;
    z-index: 2;

    @media (max-width: $ds) {
      min-width: 250px;
      left: 49px;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    h3 {
      margin: 0;
      margin-bottom: 10px;
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      width: 20px;
      height: 15px;

      &:hover {
        svg {
          opacity: 0.6;
        }
      }

      svg {
        fill: $white;
        width: 18px;
        height: 23px;
      }

      svg:first-of-type {
        display: block;
      }

      svg:last-of-type {
        display: none;
      }
    }

    button.showmore {
      svg:first-of-type {
        display: none;
      }

      svg:last-of-type {
        display: block;
      }
    }
  }

  &__products-items,
  &__material-items,
  &__collection-items,
  &__price-items {
    display: grid;
    gap: 10px;
  }

  &__price-items {
    margin-top: -9px;
    padding-bottom: 18px;
  }

  &__products-item {
    display: flex;
    align-items: center;
    padding: 0 4px 14px;
    margin-left: 43px;

    label {
      margin-left: 7px;
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__products-items {

    label {
      position: relative;
      padding-left: 8px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }

    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__material-items {
    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }



    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__collection-items {
    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }

    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__buttons {
    display: grid;

    @media (max-width: $ds) {
      max-width: calc(100% - 80px);
      margin: 0 auto;
    }
  }
}

.filterCatalog__products-items-wrapper {
  display: none;
}

.filterCatalog__products-items-wrapper.show {
  display: block;
}

.filterCatalog__products-items-wrapper.filterCatalog__filter--nojs {
  display: block;
}

.filter-wrapper {
  display: block;

  @media (max-width: $ds) {
    display: none;
  }
}

.filter-wrapper.show {
  display: none;

  @media (max-width: $ds) {
    display: flex;
    position: relative;
    min-width: 270px;
    max-width: 470px;
    min-height: 100vh;
    margin: 0 auto;
    top: 30%;
    z-index: 114;
  }

  .filterCloseButton {
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 223;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $basicgray3;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      opacity: 0.8;

      svg {
        opacity: 0.8;
      }
    }

    svg {
      fill: $white;
      width: 14px;
      height: 14px;
    }
  }
}

.filter-wrapper-all.show {

  @media (max-width: $ds) {
    min-width: 458px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translate(-50%,0);
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (max-width: $tb) {
    min-width: 270px;
  }
}

.filterShowButton {
  min-height: 68px;
  background-color: $basicbrown;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
  display: none;

  @media (max-width: $ds) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: 0 auto;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    border: 1px solid $black;
  }
}

.filterCloseButton {
  display: none;
}
