.filterCatalog {
  max-width: 245px;
  min-width: 218px;

  @media (max-width: $ds) {
    position: absolute;
    background-color: $white;
    padding-bottom: 40px;
    z-index: 222;
    max-width: 440px;
    min-width: 437px;
  }

  @media (max-width: $tb) {
    min-width: 280px;
    top: -70px;
  }

  button[type="submit"] {
    min-height: 68px;
    background-color: $basicbrown;
    border: 1px solid transparent;
    color: $white;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 28px;

    @media (max-width: $tb) {
      margin-bottom: 20px;
      min-width: 232px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $black;
    }
  }

  button[type="button"] {
    min-height: 68px;
    border: 1px solid $basicbrown;
    background: transparent;
    color: $basicgray3;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $black;
    }
  }

  &__heading {

    padding: 24px 33px 22px 18px;

    @media (max-width: $ds) {
      padding: 36px 46px 35px 36px;
    }

    @media (max-width: $tb) {
      padding: 26px 21px 23px 24px;
    }

    .btnMore {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    h2 {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;

      @media (max-width: $ds) {
        font-size: 1.8rem;
      }
    }
  }

  &__wrapper {
    display: grid;
    border: 1px solid $basicbrown;
    margin-bottom: 38px;
    margin-top: 0;
    margin-left: 2px;

    @media (max-width: $ds) {
      border: none;
    }

    @media (max-width: $tb) {
      margin-bottom: 30px;
    }

    button[type="button"] {
      min-height: 68px;
      border: 1px solid $basicbrown;
      background: transparent;
      color: $basicgray3;
      cursor: pointer;
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;

      &:hover {
        opacity: 0.6;
      }

      &:focus {
        border: 1px solid $black;
      }
    }
  }

  &__products {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
    padding-bottom: 14px;

    @media (max-width: $ds) {
      padding-top: 0;
      padding-bottom: 18px;

      .df-1 {
        padding-bottom: 20px;
      }
    }

    @media (max-width: $tb) {
      padding-top: 0;
      padding-bottom: 5px;
    }
  }

  &__material {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__collection {
    border-bottom: 1px solid $basicbrown;
    cursor: pointer;
  }

  &__price {
    cursor: pointer;
    @media (max-width: $ds) {
      border-bottom: 1px solid $basicbrown;
    }
  }

  &__price-range {
    position: relative;
    min-height: 40px;
    max-width: 300px;
    margin-bottom: 23px;
    min-width: 100%;
    margin: 0 auto;

    @media (max-width: $ds) {
      min-width: 80%;
    }

    @media (max-width: $tb) {
      min-width: 80%;
      margin-top: 16px;
    }
  }

  &__price-range-leftWrapper {
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: center;
    left: 50px;
    z-index: 3;
    cursor: pointer;
    min-width: 40px;
    top: 6px;

    @media (max-width: $ds) {
      left: 36px;
      top: 2px;
    }

    @media (max-width: $tb) {
      left: 16px;
    }

    label {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__price-range-rightWrapper {
    position: absolute;
    display: grid;
    gap: 10px;
    justify-items: center;
    right: 46px;
    z-index: 3;
    cursor: pointer;
    min-width: 40px;
    top: 6px;

    @media (max-width: $ds) {
      right: 96px;
      top: 2px;
    }

    @media (max-width: $tb) {
      right: 21px;
    }

    label {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;
    }
  }

  &__price-range-left {
    width: 15px;
    height: 15px;
    background-color: $basicbrown;
    border-radius: 50%;
    border: 1px solid transparent;

    @media (max-width: $ds) {
      width: 18px;
      height: 18px;
    }
  }

  &__price-range-right {
    width: 15px;
    height: 15px;
    background-color: $basicbrown;
    border-radius: 50%;
    border: 1px solid transparent;

    @media (max-width: $ds) {
      width: 18px;
      height: 18px;
    }
  }

  &__price-limit {
    height: 1px;
    min-width: 100%;
    position: absolute;
    top: 10px;
    background-color: $basicgray2;
    z-index: 1;

    @media (max-width: $tb) {
      top: 8px;
    }

  }

  &__price-active-limit {
    height: 1px;
    position: absolute;
    top: 0px;
    background-color: $basicbrown;
    z-index: 2;
    min-width: 122px;
    left: 63px;

    @media (max-width: $ds) {
      min-width: 169px;
      left: 63px;
    }

    @media (max-width: $tb) {
      min-width: 133px;
      left: 42px;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @media (max-width: $tb) {
      align-items: flex-start;
    }

    h3 {
      margin: 0;
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      width: 20px;
      height: 15px;

      &:hover {
        svg {
          opacity: 0.6;
        }
      }

      svg {
        fill: $white;
        width: 18px;
        height: 23px;
      }

      svg:first-of-type {
        display: block;
      }

      svg:last-of-type {
        display: none;
      }
    }

    button.showmore {
      svg:first-of-type {
        display: none;
      }

      svg:last-of-type {
        display: block;
      }
    }
  }

  &__products-items,
  &__material-items,
  &__collection-items,
  &__price-items {
    display: grid;
    gap: 10px;

    @media (max-width: $tb) {
      margin-top: 8px;
      gap: 8px;
    }
  }

  &__products-items.show,
  &__material-items.show,
  &__collection-items.show,
  &__price-items.show {
    display: grid;
  }

  &__price-items {
    margin-top: -9px;
    padding-bottom: 25px;

    @media (max-width: $ds) {
      margin-top: -14px;
      padding-bottom: 41px;
    }

    @media (max-width: $tb) {
      padding-bottom: 30px;
      border-bottom: 1px solid $basicbrown;
    }
  }

  &__products-item {
    display: flex;
    align-items: center;
    padding: 0 4px 14px;
    margin-left: 37px;

    @media (max-width: $ds) {
      padding: 0 4px 20px;
      margin-left: 55px;
    }

    @media (max-width: $tb) {
      margin-left: 43px;
    }

    label {
      margin-left: 7px;
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 500;
      color: $basicgray3;

      @media (max-width: $ds) {
        font-size: 1.6rem;
      }
    }
  }

  &__products-items {

    gap: 0px;
    margin-top: 3px;

    @media (max-width: $tb) {
      margin-top: 5px;
      padding-bottom: 4px;
    }

    label {
      position: relative;
      padding-left: 8px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }

    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__material-items {
    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }



    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__collection-items {
    label {
      position: relative;
      padding-left: 20px;
    }

    input:checked + label {
      &:after {
        background-color: $basicbrown;
      }

      &:before {
        background-color: $basicbrown;
      }
    }

    input:not(:checked) + label {
      &:after {
        border: 1px solid $basicbrown;
      }

      &:before {
        border: 1px solid $basicbrown;
      }
    }

    input:checked + label,
    input:not(:checked) + label {
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 0;
        border: 1px solid $basicbrown;
      }
    }
  }

  &__buttons {
    display: grid;

    @media (max-width: $ds) {
      max-width: calc(100% - 80px);
      margin: 0 auto;
    }

    @media (max-width: $tb) {
      max-width: calc(100% - 50px);
    }
  }
}

.filterCatalog__products-items-wrapper {
  display: none;
}

.filterCatalog__products-items-wrapper.filterCatalog__products-items-wrapper {
  display: block;
}

.filter-wrapper {
  display: block;

  @media (max-width: $ds) {
    display: none;
  }
}

.filterShowButton {
  min-height: 68px;
  background-color: $basicbrown;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
  display: none;

  @media (max-width: $ds) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: 0 auto;
  }

  @media (max-width: $tb) {
    margin-top: -11px;
    margin-bottom: 28px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    border: 1px solid $black;
  }
}

.filterCloseButton {
  display: none;
  right: -25px;
  top: -15px;
}

.filter-window {
  opacity: 1;
  margin: 0;
  margin-top: 8px;
  max-width: 230px;

  @media (min-width: $ds) {
    transform: none;
  }

  @media (max-width: $ds) {
    opacity: 0;
    max-width: 100%;
    width: 473px;
  }

  @media (max-width: $tb) {
    width: 280px;
    min-width: 280px;
  }
}

.filter-wrapper-all {
  visibility: visible;
  position: relative;
  min-width: 250px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  opacity: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 95;

  @media (min-width: $ds) {
    pointer-events: all;
    margin-left: -15px;
    margin-right: 49px;
  }

  @media (max-width: $ds) {
    visibility: visible;
    position: fixed;
    pointer-events: none;
  }

  @media (max-width: $tb) {
    min-width: 300px;
  }
}


.hystmodal.filter-wrapper-all {

  @media (min-width: $ds) {
    pointer-events: all;
    margin-left: -15px;
    margin-right: 49px;
  }
}

.hystmodal--active.filter-wrapper-all {

  @media (max-width: $ds) {
    min-width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translate(-50%,0);
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (max-width: $tb) {
    min-width: 100%;
  }

  .filter-wrapper {
    display: none;

    @media (max-width: $ds) {
      display: flex;
      position: relative;
      min-width: 100vw;
      min-height: 100vh;
      margin: 0 auto;
      top: -25%;
      z-index: 114;
    }

    .filterCloseButton {
      position: absolute;
      right: -25px;
      top: -20px;
      z-index: 223;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $basicgray3;
      cursor: pointer;
      border: 1px solid transparent;

      @media (max-width: $ds) {
        right: 17px;
        top: -19px;
      }

      @media (max-width: $tb) {
        right: -5px;
        top: -86px;
      }

      &:hover {
        opacity: 0.8;

        svg {
          opacity: 0.8;
        }
      }

      svg {
        fill: $white;
        width: 14px;
        height: 14px;
      }
    }
  }
}
