.catalog {

  &__catalog {
    margin-left: 40px;


    @media (max-width: $ds) {
      margin-left: 0;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    @media (max-width: $ds) {
      flex-direction: column;
    }

    form {
      input,
      label {
        cursor: pointer;
      }
    }
  }

  &__products-item {
    text-align: center;
    margin-bottom: 23px;

    @media (max-width: $tb) {
      max-width: 136px;
    }

    @media (min-width: 450px) {
      min-width: 200px;
    }

    img {
      height: 284px;
      object-fit: cover;

      @media (max-width: $ds) {
        object-fit: contain;
        width: 206px;
      }

      @media (max-width: $tb) {
        object-fit: contain;
        width: 130px;
      }

      @media (min-width: 450px) {
        min-width: 200px;
      }
    }

    p {
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      color: $basicgray3;
    }

    span {
      font-family: "Poppins";
      font-size: 1.4rem;
      font-weight: 700;
      color: $basicgray3;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
    border-top: 1px solid $basicgray2;
    padding-bottom: 80px;

    @media (max-width: $ds) {
      justify-content: center;
    }
  }

  &__pagination-inner {
    display: flex;
    justify-content: space-between;
    min-width: 75%;

    a {
      color: $basicgray3;
      cursor: pointer;
      font-family: "Poppins";
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      border: 1px solid transparent;

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        color: $basicgray3;
        border: 1px solid $black;
        outline: 1px solid transparent;
      }
    }

    .notactive-js {
      color: $basicgray1;

      &:hover {
        color: $basicgray3;
      }
    }
  }

  &__pagination-pages {
    justify-content: space-between;
    display: flex;
    max-width: 300px;
    min-width: 70px;
    flex-wrap: wrap;
  }
}
